@import 'styles/shared.scss';

.iconButton {
  margin: 0;
  padding: 15px;
  border: none;
  border-radius: 50%;
  color: $white;
  font: inherit;
  background-color: inherit;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

svg {
  width: 30px;
  height: 30px;
}
